#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: none;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.better-button {
  color: black !important;
  border: none !important;
  background-color: #f0f0f0 !important;
  transition: none !important;
  text-transform: initial !important;
  outline: none !important;
  box-shadow: none !important;
}

.better-button:hover {
  background-color: lightgray !important;
}

.better-button:focus {
  outline: none !important;
}

.better-button-inverted {
  color: white !important;
  border: none !important;
  background-color: #272727 !important;
  transition: none !important;
  text-transform: initial !important;
  outline: none !important;
  box-shadow: none !important;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.image-container {
  width: 100vw;          /* Full viewport width */
  height: 80vh;          /* Portion of viewport height */
  overflow: hidden;      /* Hide overflow to crop image */
  position: fixed;
  top: 0;
  left: 0;               /* Align container to the left edge */
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* Crop image if needed to cover container */
  object-position: center;
  opacity: 0.9;
}

.stack-styling {
  color: rgb(54, 52, 52);
}